<!-- <nav class="navbar navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Yapper</a>
    <button (click)="goHome()" class="btn btn-outline-light" type="button" >Home</button>
</nav> -->


<div class="col login-container">
    <div class="inner-wrapper">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group">
                <!-- Email Input -->
                <input formControlName="email" type="email" class="form-control" placeholder="E-mail Address"> 
            </div>
            <div class="form-group">
                <!-- Password Input -->
                <input formControlName="password" type="password" class="form-control" placeholder="Password">
            </div>
            <div class="form-group no-p-m">
                <button type="submit" class="btn btn-block btn-primary">Login</button>            
            </div>
            <div class="sign-up-btn" style="text-align: center;">
                <a routerLink="/register"><button type="button" class="btn btn-block btn-outline-secondary">Sign Up</button></a>
            </div>
            <app-social-login (socialSignInEvent)="recieveSocialSignIn($event)"></app-social-login>
        </form>
    </div>
</div>
