.login-container {
    display: flex;
    height: -webkit-fill-available;
    height: -moz-available;
    height: stretch; /* Was fill-available */
    justify-content: center;
    align-items: center;
    
    background: #6d6d6d;
}

.inner-wrapper {
    display: flex;
    height: -webkit-fit-content;
    height: fit-content;
    width: 500px;
    padding: 25px;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    box-shadow: 5px 5px 5px gray;
    background: #fffdf9;
}

.no-p-m {
    padding: 0px;
    margin: 0;
}

.sign-up-btn {
    padding: 8px 0px;
}

a {
    font-size: .9rem;
    line-height: 1.8rem;
}

form {
    width: 90%;
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    form {
        width: 90%; 
    }
  }