<div class="list-group" >    
    <div class="list-group-item" *ngFor="let yap of yaps$ | async; let i = index;">
        <div class="d-flex w-100 justify-content-between">
            <small>{{yap.date | date}}</small>
        </div>
        <p class="mb-1">
            {{yap.yap}}
        </p>
        <div *ngIf="yap.imageURL">
            <!-- TODO change image style to align right -->
            <!-- TODO Add image modal -->
            <img [src]="yap.imageURL" alt="" class="yap-img">
        </div>
        <small class="text-muted">{{yap.name}}</small>
    </div>
</div>
