<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" [ngClass]="{'show': isNavbarOpen}">

        <a class="navbar-brand" [routerLink]="['home']">
            Yapper
        </a>

        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['profile']">Profile</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['home']">Home</a>
        </li>
        </ul>
    </div>

    <!-- TODO: Hide if user is logged in-->
    <button (click)="signOut()" class="btn btn-outline-danger" type="button">Sign Out</button>
</nav>

<!-- <nav class="navbar navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Yapper</a>
    <button (click)="signOut()" class="btn btn-outline-danger" type="button" >Sign Out</button>
</nav> -->