<nav class="navbar navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Yapper</a>
    <button (click)="signOut()" class="btn btn-outline-danger" type="button" >Sign Out</button>
</nav>

<h1>Home Feed</h1>

<app-yaps></app-yaps>

<form [formGroup]="yapForm" (ngSubmit)="postYap()">
    <label>Post a yap</label>
    <div class="form-group">
        <textarea formControlName="yap" cols="35" rows="6" placeholder="What's on your mind?" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <input type="file" accept="image/*" (change)="handleFile($event)">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Post</button>
    </div>
</form>